@import 'tailwindcss';

@font-face {
	font-family: 'Charlie Text';
	src: url('/fonts/charlie-text/CharlieText-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Charlie Display';
	src: url('/fonts/charlie-display/CharlieDisplay-Regular.ttf')
		format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

:root {
	--background: #ffffff;
	--foreground: #171717;
	font-family: Charlie Text, sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Charlie Text, sans-serif;
}

html {
	font-family: Charlie Text, sans-serif;
}
